In [1]:
import pandas as pd
import datetime
import numpy as np

In [2]:
df_begin=pd.read_csv('D:\\KULIAH\\teep\AI\\dataset\\52 cells\\CellReports.csv')
df_begin

,timestamp,Viavi.Cell.Name,DRB.UEThpDl,DRB.UEThpUl,RRU.PrbUsedDl,RRU.PrbUsedUl,RRU.PrbAvailDl,RRU.PrbAvailUl,RRU.PrbTotUl,RRU.PrbTotDl,RRU.MaxLayerDlMimo,CARR.AverageLayersDl,RRC.ConnMean,RRC.ConnMax,QosFlow.TotPdcpPduVolumeUl,QosFlow.TotPdcpPduVolumeDl,PEE.AvgPower,PEE.Energy
0,1672502400,S1/B2/C1,0.278192,0.278192,81.459016,81.459016,100,100,81.459016,81.459016,0.0,0.0,1.786885,2.311475,277.868853,277.868853,281.947679,0.004195
1,1672502400,S7/B2/C1,0.146310,0.146310,50.000000,50.000000,100,100,50.000000,50.000000,0.0,0.0,0.516667,1.316667,146.050000,146.050000,180.817352,0.002292
2,1672502400,S8/B2/C1,0.220303,0.220303,64.300000,64.300000,100,100,64.300000,64.300000,0.0,0.0,1.450000,3.966667,220.083333,220.083333,230.893458,0.004631
3,1672502400,S9/B2/C1,0.186428,0.186428,80.900000,80.900000,100,100,80.900000,80.900000,0.0,0.0,1.916667,6.900000,186.083333,186.083333,279.584476,0.005326
4,1672502400,S1/B13/C1,0.000000,0.000000,0.000000,0.000000,75,75,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,18.250000,0.000360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524206,1673107140,S3/N77/C2,0.000000,0.000000,0.000000,0.000000,273,273,0.000000,0.000000,0.0,0.0,0.000000,4.000000,0.000000,0.000000,21.000000,11.000064
524207,1673107140,S3/N77/C3,0.000000,0.000000,0.000000,0.000000,273,273,0.000000,0.000000,0.0,0.0,0.000000,2.000000,0.000000,0.000000,21.000000,7.609575
524208,1673107140,S4/N77/C1,0.000000,0.000000,0.000000,0.000000,273,273,0.000000,0.000000,0.0,0.0,0.000000,3.000000,0.000000,0.000000,21.000000,7.789410
524209,1673107140,S4/N77/C2,0.000000,0.000000,0.000000,0.000000,273,273,0.000000,0.000000,0.0,0.0,0.000000,5.000000,0.000000,0.000000,21.000000,18.617635
524210,1673107140,S4/N77/C3,0.310630,0.030366,273.000000,273.000000,273,273,100.000000,100.000000,1.0,1.0,1.000000,4.000000,30.365599,310.629608,358.626129,16.430099

In [3]:
df_begin.columns

Index(['timestamp', 'Viavi.Cell.Name', 'DRB.UEThpDl', 'DRB.UEThpUl',
       'RRU.PrbUsedDl', 'RRU.PrbUsedUl', 'RRU.PrbAvailDl', 'RRU.PrbAvailUl',
       'RRU.PrbTotUl', 'RRU.PrbTotDl', 'RRU.MaxLayerDlMimo',
       'CARR.AverageLayersDl', 'RRC.ConnMean', 'RRC.ConnMax',
       'QosFlow.TotPdcpPduVolumeUl', 'QosFlow.TotPdcpPduVolumeDl',
       'PEE.AvgPower', 'PEE.Energy'],
      dtype='object')

In [4]:
df_1=df_begin[['timestamp',  'RRU.PrbUsedDl', 'RRU.PrbUsedUl']].copy()
convert_time=pd.to_datetime(df_1['timestamp'], unit='s',origin='unix')
df_1 = df_1.assign(
    datetime_column=convert_time,
    minute=lambda x: x['datetime_column'].dt.minute,
    hour=lambda x: x['datetime_column'].dt.hour,
    #day=lambda x: x['datetime_column'].dt.day,
    dayofweek=lambda x: x['datetime_column'].dt.dayofweek,
    #isweekend=lambda x: np.where(x['datetime_column'].dt.dayofweek > 5, 1, 0)
)
df_1.set_index('datetime_column', inplace=True)
df_1.drop(columns=['timestamp'], inplace=True)

In [5]:
df_1

                     RRU.PrbUsedDl  RRU.PrbUsedUl  minute  hour  dayofweek
datetime_column
2022-12-31 16:00:00      81.459016      81.459016       0    16          5
2022-12-31 16:00:00      50.000000      50.000000       0    16          5
2022-12-31 16:00:00      64.300000      64.300000       0    16          5
2022-12-31 16:00:00      80.900000      80.900000       0    16          5
2022-12-31 16:00:00       0.000000       0.000000       0    16          5
...                            ...            ...     ...   ...        ...
2023-01-07 15:59:00       0.000000       0.000000      59    15          5
2023-01-07 15:59:00       0.000000       0.000000      59    15          5
2023-01-07 15:59:00       0.000000       0.000000      59    15          5
2023-01-07 15:59:00       0.000000       0.000000      59    15          5
2023-01-07 15:59:00     273.000000     273.000000      59    15          5

[524211 rows x 5 columns]

In [6]:
try:
    df_2= df_1.resample('T').max().drop(columns=['Viavi.Cell.Name'])
except:
    df_2= df_1.resample('T').max()
df_2

                     RRU.PrbUsedDl  RRU.PrbUsedUl  minute  hour  dayofweek
datetime_column
2022-12-31 16:00:00     125.483333         118.30       0    16          5
2022-12-31 16:01:00     125.983333         122.85       1    16          5
2022-12-31 16:02:00     123.616667         113.75       2    16          5
2022-12-31 16:03:00     120.216667         109.20       3    16          5
2022-12-31 16:04:00     150.150000         145.60       4    16          5
...                            ...            ...     ...   ...        ...
2023-01-07 15:55:00     163.800000         150.15      55    15          5
2023-01-07 15:56:00     109.200000         104.65      56    15          5
2023-01-07 15:57:00     136.500000         136.50      57    15          5
2023-01-07 15:58:00     273.000000         273.00      58    15          5
2023-01-07 15:59:00     273.000000         273.00      59    15          5

[10080 rows x 5 columns]

In [7]:
df_2.query('dayofweek>5')

                     RRU.PrbUsedDl  RRU.PrbUsedUl  minute  hour  dayofweek
datetime_column
2023-01-01 00:00:00     204.083333     195.650000       0     0          6
2023-01-01 00:01:00     100.000000     100.000000       1     0          6
2023-01-01 00:02:00     163.800000     154.700000       2     0          6
2023-01-01 00:03:00     178.900000     172.900000       3     0          6
2023-01-01 00:04:00      97.366667      97.366667       4     0          6
...                            ...            ...     ...   ...        ...
2023-01-01 23:55:00     195.833333     191.100000      55    23          6
2023-01-01 23:56:00     227.500000     222.950000      56    23          6
2023-01-01 23:57:00     100.100000     100.000000      57    23          6
2023-01-01 23:58:00     100.000000     100.000000      58    23          6
2023-01-01 23:59:00     154.700000     145.600000      59    23          6

[1440 rows x 5 columns]

In [8]:
df_final=df_2.astype(float).copy()
print(df_final.shape)

y_train=df_final[['RRU.PrbUsedDl', 'RRU.PrbUsedUl']].loc['2022-12-31':'2023-01-06']
x_train=df_final.loc['2022-12-31':'2023-01-06'].drop(columns=['RRU.PrbUsedDl', 'RRU.PrbUsedUl'])

y_validation=df_final[['RRU.PrbUsedDl', 'RRU.PrbUsedUl']].loc['2023-01-07':]
x_validation = df_final.loc['2023-01-07':].drop(columns=['RRU.PrbUsedDl', 'RRU.PrbUsedUl'])
print("shape y_train:", y_train.shape, "shape x_train:", x_train.shape, "shape y_validation:", y_validation.shape, "shape x_validation:", x_validation.shape)

(10080, 5)
shape y_train: (9120, 2) shape x_train: (9120, 3) shape y_validation: (960, 2) shape x_validation: (960, 3)

In [9]:
from sklearn.preprocessing import  StandardScaler
def scaler_data(data):
    scaler = StandardScaler()
    data_scaled= scaler.fit_transform(data)
    return data_scaled, scaler

In [10]:
x_train_scaled, x_train_scaler=scaler_data(x_train)
x_train_scaled= pd.DataFrame(x_train_scaled, columns=x_train.columns)
y_train_scaled, y_train_scaler=scaler_data(y_train)

x_validation_scaled, x_validation_scaler = scaler_data(x_validation)
x_validation_scaled = pd.DataFrame(x_validation_scaled, columns=x_validation.columns)
y_validation_scaled, y_validation_scaler = scaler_data(y_validation)

In [18]:
from statsmodels.tsa.arima.model import ARIMA
p,d,q=3,3,3
model = ARIMA(y_train_scaled[:, 0], order=(p,d,q))
model_fit = model.fit()
print(model_fit.summary())

d:\GAME\Anaconda\envs\machinelearning_joseportilla\lib\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                 9120
Model:                 ARIMA(3, 3, 3)   Log Likelihood              -14210.921
Date:                Mon, 15 Jul 2024   AIC                          28435.842
Time:                        16:13:14   BIC                          28485.667
Sample:                             0   HQIC                         28452.785
                               - 9120
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -1.6777      0.013   -126.817      0.000      -1.704      -1.652
ar.L2         -1.0336      0.019    -55.654      0.000      -1.070      -0.997
ar.L3         -0.3557      0.011    -33.696      0.000      -0.376      -0.335
ma.L1         -0.9998      0.014    -72.119      0.000      -1.027      -0.973
ma.L2         -0.9991      0.017    -59.782      0.000      -1.032      -0.966
ma.L3          0.9996      0.014     72.266      0.000       0.973       1.027
sigma2         1.3185      0.026     50.254      0.000       1.267       1.370
===================================================================================
Ljung-Box (L1) (Q):                  57.96   Jarque-Bera (JB):                63.81
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):               1.00   Skew:                            -0.05
Prob(H) (two-sided):                  0.97   Kurtosis:                         2.60
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).

In [14]:
a= model_fit.forecast(steps=10)
a.shape

(10,)

In [15]:
mean_1 = y_train_scaler.mean_[0]
std_1 = y_train_scaler.scale_[0]

# Inverse standardization
original_data = (a.reshape(-1,1) * std_1) + mean_1
original_data

array([[157.9418757 ],
       [158.00324184],
       [158.00288003],
       [158.00288216],
       [158.00288215],
       [158.00288215],
       [158.00288215],
       [158.00288215],
       [158.00288215],
       [158.00288215]])

In [16]:
y_train

                     RRU.PrbUsedDl  RRU.PrbUsedUl
datetime_column
2022-12-31 16:00:00     125.483333     118.300000
2022-12-31 16:01:00     125.983333     122.850000
2022-12-31 16:02:00     123.616667     113.750000
2022-12-31 16:03:00     120.216667     109.200000
2022-12-31 16:04:00     150.150000     145.600000
...                            ...            ...
2023-01-06 23:55:00      98.066667      98.066667
2023-01-06 23:56:00     168.350000     127.400000
2023-01-06 23:57:00     182.883333     182.000000
2023-01-06 23:58:00     204.750000     168.350000
2023-01-06 23:59:00     168.350000     150.150000

[9120 rows x 2 columns]